{
  "extends": "airbnb-base", 
  "plugins": ["jest"],
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "rules": {
    "import/no-unresolved" : 0,
    "import/extensions" : 0,
    "consistent-return" : 0
  },
  "globals": {
    "BlossomRender": true
  }
}