{
  "extends": "airbnb-base",
  "env" : {
    "browser": true
  },
  "rules": {
    "no-param-reassign" : 0,
    "no-eval" : 0,
    "no-new-func" : 0,
    "consistent-return" : 0,
    "no-bitwise" : 0
  }
}