l-preview h1 {
  letter-spacing: -20px;
}
l-preview {
  padding:5px;
  display:inline-block;
  transform-origin: 0%;
  letter-spacing: -10px;
  animation: loading 2s ease infinite;
}

@keyframes loading { 
  0%{opacity:1}
  50%{opacity:.5}
  100%{opacity:1}
}

.forecast {
  width: 400px;
  margin: auto;
}

font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

body {
  color: white;
  font-size:120%;
  text-align:center;
  font-family: 'open sans';
  text-shadow: 0px 2px 2px rgba(80, 80, 80, 1);
  background-image: url('images/cloudy.jpg'); 
  font-weight: 100;
}

a {
  color: white;
  font-size:120%;
  text-align:center;
  font-family: 'open sans';
  font-weight: 100;
  text-decoration: none;
}

.menu {
  font-size:100%;
  border-bottom: white 1px solid;
  padding-bottom: 10px;
}

.menu a {
  padding:5px;
}

h1,h2,h3 {
  font-weight: 100;
}

body.Snow {
   background-image: url('images/Snow.jpg'); 
  background-size: cover;
}

body.Cloudy {
   background-image: url('images/cloudy.jpg'); 
  background-size: cover;
}

.subtitle {
  font-size:80%;
  margin-top:-30px;
  margin-bottom: 20px;
}

l-loop {
  margin-top:20px;
  display : table;
  width: 100%;
}
.day {
  display : table-row;
  width: 100%;
  margin-top:10px;
}
.value {
  display : table-cell;
  width: 32%;
}
div.icon {
  width:32px;
  height:32px;
  background-size: 100%;
  display: inline-block;
}
div.icon.Rain {
  background-image: url('icon/rain.png');
}
div.icon.Cloudy, div.icon.Mostly {
  background-image: url('icon/cloudy.png');
}
div.icon.Snow {
  background-image: url('icon/snow.png');
}
div.icon.Thunderstorms {
  background-image: url('icon/storm.png');
}
div.icon.Breezy {
  background-image: url('icon/wind.png');
}